{% extends 'base.html' %}
{% block content %}

    <div style="text-align: center">
        <h1 class="mt-5">Besoin d'aide ? </h1>
    </div>


    <p>N'hésitez pas à nous contacter pour n'importe quelle question ou remarque. Pour ce faire, rien de plus simple. Il vous suffit pour cela de cliquer <a HREF="mailto:ri-bs@insa-lyon.Fr">ICI</a>. </p>
    <p>Cette mention vous redirigera vers votre boîte mail, où vous pourrez nous écrire un mail. N'hésitez pas à joindre votre numéro de téléphone si vous le souhaitez.</p>
    <div style="text-align: center">
	    <img src="{{url_for('static', filename='photo3.jpg')}}" alt="L'équipe d'assistance" width="50%" height=auto align="middle">
    </div>



{% endblock %}
