{% extends 'base.html' %}
{% block content %}

<div style="text-align: center">
	<h1 class="mt-5">Inscription entreprises</h1>
</div>

	<form action="/Entreprises" method="post">
	<div class="form-group row" >

	    <label class="col-sm-2 col-form-label" for="staticName"> Nom de l'entreprise </label>

	    <div class="col-sm-3">
	    <input type="text" name="name" id="name" required placeholder="Nom de l'entreprise" >
	    </div>
	</div>

	<div class="form-group row" >

	    <label class="col-sm-2 col-form-label" for="staticName"> Secteur d'activité </label>

	    <div class="col-sm-3">
	    <input type="text" name="secteur" id="secteur" required placeholder="Secteur d'activité" >
	    </div>

	</div>
	
	<div class="form-group row" >

	        <label class="col-sm-4 col-form-label" for="inputDoB"> Effectif de l'entreprise </label>
	</div>

	    <div class="col-sm-3">
	
	        <div class="form-group row" >	
		
	        <input type="radio" id="effectif" name="effectif" value="inf250" required placeholder="effectif" >
	        <label for="< 250"> &#60; 250 (400€) </label>
		
		</div>
		<div class="form-group row" >

	        <input type="radio" id="group" name="effectif" value="sup250" required placeholder="effectif" >
	        <label for="> 250"> > 250 (600€) </label>
	        </div>
		
            </div>
	
	
	  	
	<div class="form-group row" >
	  	<label class="col-sm-4 col-form-label" for="inputDoB"> Voulez vous faire passer des simulations d'entretiens ?</label>
	</div>
	<div class="form-group row" >
	  	<div class="col-sm-3">
		    <input type="radio" id="entretien" name="entretien" value="Oui" required placeholder="entretien">
		    <label for="Oui">Oui</label>
		    <input type="radio" id="entretien" name="entretien" value="Non" required placeholder="entretien">
		    <label for="Non">Non</label>	    
		</div>
	</div>	

	<div class="form-group row" >
	  	<label class="col-sm-4 col-form-label" for="inputDoB"> Voulez vous participer au forum ?</label>
	</div>
	<div class="form-group row" >
	  	<div class="col-sm-3">
		    <input type="radio" id="forum" name="forum" value="Oui" required placeholder="forum">
		    <label for="Oui">Oui</label>
		    <input type="radio" id="forum" name="forum" value="Non" required placeholder="forum">
		    <label for="Non">Non</label>	    
		</div>
	</div>	

	<div class="form-group row" >

	    <label class="col-sm-2 col-form-label" for="staticName"> Nom et prénom du responsable de l'évenement </label>

	    <div class="col-sm-3">
	    <input type="text" name="responsable" id="responsable" required placeholder="Nom Prénom" >
	    </div>
	</div>

	<div class="form-group row" >

	    <label class="col-sm-2 col-form-label" for="staticName"> Adresse mail </label>

	    <div class="col-sm-3">
	    <input type="mail" name="mail" id="mail" required placeholder="Adresse mail" >
	    </div>

	</div>

	

	<div class="form-group row" >
	  	<label class="col-sm-4 col-form-label" for="inputDoB"> Télécharger le formulaire d'inscription </label>
		<div>
		<a href="/pdf/Formulaire_inscription_2019.pdf.jpg" download> Formulaire d'inscription </a>
		</div>
	</div>

	<div class="form-group row" >
	  	<label class="col-sm-4 col-form-label" for="inputDoB"> Déposez le formulaire d'inscription </label>
		<input type="file" name="Formulaire d'inscription"/>
	</div>

	<div class="form-group row" >
	  	<label class="col-sm-4 col-form-label" for="inputDoB"> Déposez le logo de l'entreprise </label>
		<input type="file" name="Logo de l'entreprise"/>
	</div>

	<div class="form-group row" >
		<div class="col-sm-3">
		<input type="submit" class="btn btn-primary" value="Envoyer">
	        </div>
	</div>
	</form>
	
{% endblock %}
