{% extends 'base.html' %}
{% block content %}

                    
    <body>
        <p>Besoin d'aide pour quelque chose ? N'hésitez pas à renseigner vos coordonnées et nous indiquer votre message. Celui-ci sera directement envoyé vers notre boîte mail.</p>
	</body>
                    <div class="dragArea row">
                        <div class="col-md-4  form-group" data-for="name">
                            <label for="name-form1-f" class="form-control-label mbr-fonts-style display-7">Name</label>
                            <input type="text" name="name" data-form-field="Name" required="required" class="form-control display-7" id="name-form1-f">
                        </div>
                        <div class="col-md-4  form-group" data-for="email">
                            <label for="email-form1-f" class="form-control-label mbr-fonts-style display-7">Email</label>
                            <input type="email" name="email" data-form-field="Email" required="required" class="form-control display-7" id="email-form1-f">
                        </div>
                        <div data-for="phone" class="col-md-4  form-group">
                            <label for="phone-form1-f" class="form-control-label mbr-fonts-style display-7">Phone</label>
                            <input type="tel" name="phone" data-form-field="Phone" class="form-control display-7" id="phone-form1-f">
                        </div>
                        <div data-for="message" class="col-md-12 form-group">
                            <label for="message-form1-f" class="form-control-label mbr-fonts-style display-7">Message</label>
                            <textarea name="message" data-form-field="Message" class="form-control display-7" id="message-form1-f"></textarea>
                        </div>
                        <div class="col-md-12 input-group-btn align-center">
                            <button type="submit" class="btn btn-primary btn-form display-4">Envoyer</button>
                        </div>
                    </div>
           
{% endblock %}
{% block script %}
    <script>document.getElementById('hideIntro').onclick = function() { document.getElementById('intro').setAttribute('hidden', '') };</script>
{% endblock %}

<!-- vim: set filetype=html spell spelllang=en: -->
