{% extends 'base.html' %}
{% block content %}
      <h1 class="mt-5">Add User</h1>
        <form action="/users" method="post">
          <label for="fname">Name :</label>
          <input type="text" id="fname" name="name" value="LastName FirstName">
          <input type="radio" id="male" name="gender" value="male">
          <label for="male">Male</label>
          <input type="radio" id="female" name="gender" value="female">
          <label for="female">Female</label><br>
          <label for="lname">Date :</label>
          <input type="Date" id="lname" name="birth" value="jj/mm/aaaa">
          <input type="submit" value="Submit">
        </form> 
        <form>

  </form>
      <h1 class="mt-5">Users</h1>
      <ul>
        {% for item in all_names %}
          <li><a href="/users/{{item['name']}}"> {{item['name']}}</a></li>
         {% endfor %}
      </ul>
      <div class="alert alert-info" role="alert">
        <p class="lead">Use Jinja templating system to produce a list of users in <code>app.USERS</code> object.<br />
        Follow the documentation: <a href="https://flask.palletsprojects.com/en/1.1.x/quickstart/#rendering-templates">flask.palletsprojects.com/en/1.1.x/quickstart/#rendering-templates</a>.
      </div>
{% endblock %}
